@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.Avatar {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Avatar h1 {
    color: #7389f7;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    padding: 5px;
}

.Align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LabelNickname {
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    border-style: double;
    border-color: #e0f2f6;
}

.LabelNickname:hover {
    box-shadow: 10px 5px 5px #7389f7;
}

input {
    border: 1px solid #ddd;
    border-radius: 3px;
}

input:focus {
    outline: none;
}

.length-ok {
    border: 3px solid rgb(119, 236, 186);
}

.lenght-max-readched {
    border: 3px solid #fc8181;
}

.smallCharactersMax {
    color: #fc8181;
}

.smallCharactersOk {
    color: rgb(119, 236, 186);
}

.EnterNickName {
    color: white;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

figure {
    background-image: url('./imgAvatar/macaron.svg');
    background-repeat: no-repeat;
    padding-top: 15px;
    margin-left: 0;
    margin-right: 0;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Circle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.Circle:hover {
    opacity: 0.5;
}

p {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #7389f7;
    padding-left: 20px;
    padding-right: 20px;
}

.ButtonLeft {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: url('https://api.iconify.design/dashicons:arrow-left-alt2.svg?color=%2377ECBA') no-repeat center center / contain;
}

.ButtonRight {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: url('https://api.iconify.design/dashicons:arrow-right-alt2.svg?color=%2377ECBA') no-repeat center center / contain;
}

input {
    background-color: white;
}

small {
    color: black;
}

.container {
    padding-top: 30px;
}

.validBttn {
    width: 84px;
    height: 31px;
    background-color: #77ecba;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    border-style: none;
    box-shadow: 3px 3px 0px #66dfac;
    margin-top: -15px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .validBttn {
        width: 100px;
        height: 38px;
        font-size: 16px;
        box-shadow: 5px 5px 0px #66dfac;
    }
}