.doneBttn {
    width: 84px;
    height: 31px;
    background-color: #77ecba;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    border-style: none;
    box-shadow: 3px 3px 0px #66dfac;
    margin-top: -15px;
    cursor: pointer;
}
.doneBttn:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
    .doneBttn {
        width: 100px;
        height: 38px;
        font-size: 16px;
        box-shadow: 5px 5px 0px #66dfac;
    }
}