.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filtert {
  color: #77ecba;
  transform: translate(0px, -10px);
}

.filtertopen {
  color: #77ecba;
  transition: 0.1s ease-in-out;
}

.btn {
  border-color: #77ecba;
  color: #77ecba;
  border-style: solid;
  background-color: white;
  font-size: 20px;
}

.open {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.close {
  transform: translate(0px, -10px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  height: 10px;
}
