@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.Intro {
    padding: 20px;
    background: url('https://api.iconify.design/bi:geo-alt.svg?color=%23afe7cf') no-repeat center center / contain, #e0f2f6;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    color: #7389f7;
    text-align: center;
}