@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
.missionBox {
  background-color: #9ef2ff;
  height: 170px;
  width: 290px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.missionBox h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-top: 5px;
}

.missionBox p {
  font-size: 15px;
  color: black;
}
